
      </section>
    </main>

    {{> toast }}

    <script>
      window.API_HOST_URL = '{{apiHostUrl}}';
    </script>

    <script type="module" src="./js/main.js"></script>
    <script type="module" src="./js/admin.js"></script>
  </body>
</html>
