<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="api-host-url" content="{{apiHostUrl}}">

  <title>{{title}}</title>

</head>

<style>
</style>

<body class="d-flex flex-column 0-2 p-3 min-vh-100">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  {{> toast }}

  <main>
    <header class="main-header d-flex align-items-center justify-content-center py-3">
      <img src="/img/vonage-logo.svg" alt="Vonage Logo" class="header-logo" />
    </header>
