<!doctype html>
<html lang="en" data-theme="admin">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="api-host-url" content="{{apiHostUrl}}">

    <title>{{title}} – {{siteName}}</title>

  </head>

  <body class="d-flex flex-column admin">

    {{> toast }}
    <main class="m-3 pt-5">
